.round-card {
  width: 160px;
  text-align: center;
  cursor: pointer;
}

.round-image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.round-title {
  margin-top: 10px;
  font-size: 14px;
  color: white;
}

/* Hover estilo Spotify */
.round-card:hover .round-image {
  transform: scale(1.05);
  transition: 0.2s ease;
}
