.round-full-card {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.6); /* estilo Spotify */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.round-full-card:hover {
  transform: scale(1.05); /* efecto de zoom */
}

.round-full-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  padding: auto;
}

.round-full-title {
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 0 8px;
}
