.content {
  background-color: #111f28;
  padding: 16px;
}

.Cards {
  display: flex;
  gap: 20px;
}

.Cards-autores {
  background-color: rgb(98, 0, 255);
}

.Cards-albums {
  background-color: rgb(255, 0, 170);
}
