.content {
  background-color: #111f28;
  padding: 16px;
  border: 2px solid rgb(20, 226, 65);
}

.Cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2 columnas */
  gap: 16px;
  border: 2px solid rgb(226, 20, 37);
}

.Cards-autores {
  background-color: rgb(98, 0, 255);
}

.Cards-albums {
  background-color: rgb(255, 0, 170);
}
