body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: #889293;
}

.navbar {
  display: flex;
}

.layout {
  display: flex;
  gap: 4px;
}

.sidebar {
  width: 380px;
  border: 2px solid rgb(0, 255, 242);
}

.content {
  flex: 1;
  padding: 5px;
  background: rgb(150, 142, 142);
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}
