.side-card {
  display: flex;
  gap: 26px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
}

.side-card:hover {
  background-color: #202020;
}

.side-card-image {
  width: 86px;
  height: 66px;
  object-fit: cover;
  border-radius: 0px;
}

.side-card-title {
  color: white;
  font-size: 16px;
  font-weight: 500;
}
